* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    border: 2px solid teal;
    padding: 10px;
    margin: 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}